*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.leftColumn{
    width: 15%;
        

    
}
 .headerMenu>li{
    list-style: none;
    
    
}

.contentbox{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}